@import url("https://fonts.googleapis.com/css2?family=Helvetica+Neue:wght@400;500&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-green1: #305140;
  --color-rich-black: #060606;
  --color-primary-beige: #f6ece2;
  --color-secondary-beige: #bfb8b1;
  --color-primary-rich-black: #1d1d1d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Helvetica Neue", sans-serif;
}

/* Button Gradient */

.button-gr {
  @apply block w-full h-[50px] px-2 py-1 rounded-full text-primary-beige text-lg font-medium cursor-pointer;
  background-image: linear-gradient(to left, #487a60, #6cb791);
  transition: background-image 0.3s ease;
}

/* Auth Inp */
.auth-inp {
  @apply h-[55px] w-full rounded-[30px] py-1 pl-6 pr-2 outline-0 border border-secondary-beige text-secondary-beige text-base font-normal;
}

/* Custom Checkbox */
.button-gr:hover {
  background-image: linear-gradient(to right, #6cb791, #487a60);
}

input[type="checkbox"]:checked + span img {
  display: block;
}

/* error-msg */

.error-msg {
  @apply text-[#D42525] text-base my-1 font-medium text-left;
}
